body, ul, li {
  margin: 0;
  padding: 0;
  margin:15px;
}

body {
  background: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: poppins,Arial,sans-serif!important;
  overflow-x: hidden;

}
.logo img{
  border-radius:50%
  
}
.limg{
  height:50px;
}

.freespace{
  height:75px;
}
/* Navbar styles */
.navbar {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar .logo a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.menu {
  list-style: none;
  display: flex;
  margin:0
}
.menu a, .menu .dropdown {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  /* margin-inline-start:20px; */
}
/* Media query for responsive navbar */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 48px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height:100vh;
  }

  .menu.active {
    display: flex;
    color:black
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

  .menu li {
    margin: 10px 0;
    padding-inline-start: 25px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  box-shadow:0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the trigger element */
.dropdown-trigger {
  cursor: pointer;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-inline-start:0px
}

/* Show the dropdown content when hovering over the trigger element */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for dropdown items */
.dropdown-content a {
  color: black;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
  margin-inline-start:10px
}

/* Change color on item hover */
.dropdown-content a:hover {
  /* background-color: #f1f1f1; */
  color:#98E4FF;
}

.tcontainer {
position: relative;
text-align: center;
color: white;
}
.bottom-right {
position: absolute;
bottom: 2px;
right: 16px;
font-size:8px;
color:blue;
text-decoration:none
}


.c-quote {
  max-width: 600px;
  margin: 0 auto 30px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.c-quote h1 {
  text-align: center;
  color:black;
}
.c-quote form label {
  font-weight: bold;
  margin-bottom:0px;
}
.c-quote input[type="text"],
.c-quote input[type="email"],
.c-quote input[type="tel"],
.c-quote input[type="date"],
.c-quote textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.c-quote button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.c-quote button[type="submit"]:hover {
  background-color: #0056b3;
}
.c-quote .error {
  color: #ff0000;
}

.container-quote {
  background-color: #FBFBFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Custom styles for the card hover effect */
.service-card {
  transition: transform 0.2s;
}

.service-card:hover {
  transform: scale(1.05);
}
/* Responsive styles for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
  .service-card {
    margin-bottom: 20px;
  }
}

.faq {
    margin: 20px;
}

.faq-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.faq-item:hover {
    background-color: #f5f5f5;
}

.faq-answer {
    display: none;
}

.faq-item:hover .faq-answer {
    display: block;
}

/* Footer styles */
/* .footer {
  background-color: #6D676E;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius:10px
}
.footer-section {
  flex: 1;
  max-width: 300px;
  text-align: start;
  margin: 10px 10px 10px 10px;
}
.footer-section h3,.UL-menu button, .US-menu button {
  font-size: 18px;
  display:block;
  width:100%; */
  /* border-image: linear-gradient(to right, #000 20%, transparent 35%) 10%;
  border-bottom: 2px solid white; */
  /* text-align:start;
  padding:initial;
  margin-bottom: revert;
}
.footer-section ul {
  list-style: none;
  padding-inline-start:0px
}
.footer-section ul li {
  margin: 5px 0;

}
.footer-section a {
  text-decoration: none;
  color: #fff;
}
/* Media query for responsive footer on mobile devices */
/*@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: start;
    text-align: start;
  }
  .footer-section {
    min-width: 100%;
  }
} */

.UL-Dropdown{
  display:block;
  width:100%
}
.UL-menu ,.US-menu{
  text-align: justify;
  padding-inline-start: 0px!important;
}
#ULM-toggle ,#USM-toggle{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  color: currentColor;
}
.UL-list,.US-list {
  list-style: none;
  padding: 0;
  display: none;
  background-color:#FBFBFF;
}
/* .UL-list li , .US-list li{
  padding: 0 0 0 10px;
} */
.UL-list a, .US-list a {
  color: currentColor!important;
  text-decoration: none;
  display: block;
  text-align:start;
}
.UL-list a:hover, .US-list a:hover {
  background-color:azure
}
@media (max-width: 768px) {
  .ULM-toggle,.USM-toggle {
      display: block;
  }

  .UL-list, .US-list,#usefulServices,#usefulLinks {
    display: none;

  }

  .UL-list.active, .US-list.active {
    display: block;
    text-align: justify;
  }
}
@media (min-width: 768px) {
  .UL-menu, .US-menu{
  display:none
  }


  #container {
    font-family: Arial, sans-serif;
    background-color: azure;
    display: flex;
    color:black;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    align-items:center;
  }
  #container a{
    display:flex;
    text-decoration: none !important
  }
   text-decoration:none
  }
  .cards {
    width: 90%;
    max-width: 300px;
    max-height:348px;
    background-color: #fff;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .cards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  .cards img {
    width: 100%;
    height: auto;
  }
  .card-content {
    padding: 20px;
  }
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  .card-description {
    margin-top: 10px;
    color: #666;
  }
#aimg{
  border-radius:5px
}
#cp{
  background-color: rgba(0, 0, 0, 0.05);
}
#hsimg{
  max-height:90%;
}
@media (max-width:426px){
  .cards{
    margin: 10px 10px 10px 40px;
  }
}
@media (max-width:376px){
  .cards{
    margin: 10px 10px 10px 20px;
  }
}
@media (min-width:768px){
  #container{
    padding-inline-start:45px
  }
}
@media (max-width:321px){
  .cards{
    margin: 10px auto;
  }
 }
@media (min-width:819px){
  #container{
    padding-inline-start:20px
  }
}
@media (min-width:392px){
  .cards{
    margin-inline-start:10px;
  }
  #container{
    padding-inline-start:20px
  }
}
.alink{
  color:currentcolor;
}
