{% extends "layout.html"%}
{% block title %}
Divakar Packers and Movers | Request Quote
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col col-md-6">
    <img src="/static/images/pexels-rdne-7464372.png" alt="quote banner aside" style="height: 702px; object-fit: cover;" loading="lazy">
  </div>
  <div class="d-block d-md-block col-md-5">
    <section class="container-fluid mt-5">
      <p class="text-center fs-3 mb-2">Request Quote</p>
      <form class="border border-1 p-2" action="submit-quote" method="post">
        <div class="mb-1">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-1">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-1">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-1">
          <label for="moving_date" class="form-label">Moving Date</label>
          <input type="date" class="form-control" id="moving_date" name="moving_date">
        </div>
        <div class="mb-1">
          <label for="from_address" class="form-label">From Address</label>
          <input type="text" class="form-control" id="from_address" name="from_address">
        </div>
        <div class="mb-1">
          <label for="to_address" class="form-label">To address</label>
          <input type="text" class="form-control" id="to_address" name="to_address">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      {% if errors %}
      <div class="error">
        <ul class="list-group-item list-group-item-danger">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
  </div>
</div>
{% endblock %}